<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hixtrip.sample.infra.db.mapper.InventoryMapper">
    <!--mapper xml-->
    <select id="getStockBySku" resultType="com.hixtrip.sample.infra.db.dataobject.InventoryDo">
        select shelvesStock
        from inventory
        where sku_id=#{skuId}
    </select>
</mapper>
